/docs/*.html linguist-detectable=true
/docs/*.xml linguist-detectable=true
/docs/*.css linguist-detectable=true
/docs/pjs/*.js linguist-detectable=true
/docs/*.json linguist-detectable=true
/docs/pjs/*.json linguist-detectable=true
/docs/*.txt linguist-detectable=true
/docs/*.md linguist-detectable=true
/.github/*.yml linguist-detectable=true
/.github/workflows/*.yml linguist-detectable=true
